<div class="p-6">
  <div class="flex justify-between items-center mb-4">
    <h1 class="text-2xl font-semibold">Dashboard</h1>

    <div class="flex gap-4 items-center w-1/2 justify-end">
      <input type="text" placeholder="Search tasks…" class="border p-2 rounded w-2/3" />
      <button (click)="openModal()" class="bg-blue-600 text-white px-4 py-2 rounded">Add task</button>
    </div>
  </div>

  <div class="grid grid-cols-3 gap-4 mb-6">
    <div class="bg-white p-4 rounded shadow text-center">
      <div class="text-3xl font-bold">{{TotalTasks}}</div> 
      <div>All Tasks</div>
    </div>
    <div class="bg-blue-600 text-white p-4 rounded shadow text-center">
      <div class="text-3xl font-bold">{{InProgressTasks}}</div>
      <div>In Progress</div>
    </div>
    <div class="bg-white p-4 rounded shadow text-center">
      <div class="text-3xl font-bold">{{CompletedTasks}}</div>
      <div>Completed</div>
    </div>
  </div>

  <app-task-table></app-task-table>
</div>
<!-- Modal Overlay -->
<div 
  *ngIf="isModalOpen" 
  class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
  <!-- Modal Container -->
  <div class="bg-white p-6 rounded-lg w-1/2 shadow-xl">
    <h2 class="text-xl font-semibold mb-4">Add Task</h2>
    
    <form [formGroup]="taskForm" (ngSubmit)="submitTask()"> 
      <div class="mb-4">
        <label class="block mb-1 font-medium">Task Name</label>
        <input formControlName="taskName" class="border p-2 w-full rounded" />
      </div>

      <div class="mb-4">
        <label class="block mb-1 font-medium">Description</label>
        <textarea formControlName="description" rows="3" class="border p-2 w-full rounded"></textarea>
      </div>

      <div class="mb-4">
        <label class="block mb-1 font-medium">Priority</label>
        <select formControlName="priority" class="border p-2 w-full rounded">
          <option value="">Select Priority</option>
          <option value="High">High</option>
          <option value="Medium">Medium</option>
          <option value="Low">Low</option>
        </select>
      </div>

      <div class="mb-4">
        <label class="block mb-1 font-medium">Due Date</label>
        <input type="date" formControlName="Due_date" class="border p-2 w-full rounded" />
      </div>

      <div class="flex justify-end gap-2">
        <button type="button" (click)="closeModal()" class="px-4 py-2 bg-gray-300 rounded">Cancel</button>
        <button type="submit" class="px-4 py-2 bg-blue-600 text-white rounded" >Save</button>
      </div>
    </form>
  </div>
</div>
